API_ENDPOINT="https://example.com TANPA PARAM"
API_URL="https://example.com/api/blabla dengan param"
DIR_URL="https://example.com/api/blabla dengan param"
HOST="https://greenland.dev-markdesign.my.id"